{% extends "::layout.html.twig" %}

{% block menu %}
<section class="top-bar-section">
<!-- Left Nav Section -->
<ul class="left">
    <li class="divider"></li>
    <li class="active"><a href="#">Main Item 1</a></li>
    <li class="divider"></li>
    <li><a href="#">Main Item 2</a></li>
    <li class="divider"></li>
</ul>

<!-- Right Nav Section -->
<ul class="right">
    <li class="divider hide-for-small"></li>
    <li class="has-dropdown"><a href="#">Main Item 4</a>
    </li>
    <li class="divider"></li>
</ul>
</section>
{% endblock %}
{% block sidebar %}
<li class=""><a href="{{ path('picture_collection') }}">Picture Collection</a></li>
<li class=""><a href="">Picture</a></li>
<li class="divider"></li>
{% endblock %}